################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Procurement
/Procurement.Api/bin/Debug/netcoreapp2.2
/Procurement.Api/logs
/Procurement.Api/obj
