
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox-content m-b-sm border-bottom">
          <div class="text-center p-lg">
              <h2>Welcome to the Procurement Portal</h2>
              <span>Register to be a supplier or login to place bids</span>
          </div>
          <div class="text-center text-white">
              <a routerLink="/login" class="btn btn-success btn-sm mr-2"><i class="fa fa-user"></i> <span class="bold"> Login</span></a>
              <a routerLink="/register" class="btn btn-primary btn-sm ml-2"><i class="fa fa-plus"></i> <span class="bold"> Register</span></a>
          </div>
      </div>
    </div>
  </div>
</div>
