  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Requisitions</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <strong>Requisitions</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-title">
              <h5>Requisitions</h5>
              <a class="label label-primary text-white" routerLink="/create-requisition" *appHasRole="['User']"><i class="fa fa-plus"></i>&nbsp;New Requisitions</a>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Ref No.</th>
                      <th>Summary</th>
                      <th>Submission Date</th>
                      <th>Date Added</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let v of values">
                      <td>
                        <button class="btn btn-xs btn-outline-primary" type="button" (click)="submitQuote(v.id)">
                          <i class="fa fa-download"></i>&nbsp;&nbsp;Details
                        </button>
                      </td>
                      <td>{{ v.referenceNo }}</td>
                      <td>{{ v.summary }}</td>
                      <td>{{ v.submissionDueDate }}</td>
                      <td>{{ v.submissionDueDate }}</td>
                      <td>{{ v.status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
